@model ProgettoCinema.Domain.Spettatore

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Spettatore</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverSeventyYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverSeventyYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnderFiveYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnderFiveYear)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
